@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url(../fontes/idroid.otf) format('opentype');
    font-weight: normal;
}

/*
#8CE1B9
#c5ebd6
#36A873
#395C4C
#1D5C3F
*/

:root{
    --cor0: #8CE1B9;
    --cor1: #c5ebd6;
    --cor2: #36A873;
    --cor3: #395C4C;
    --cor4: #1D5C3F;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'Android', cursive;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}

header{
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor4));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

header > h1{
    color: white;
    font-family: var(--fonte-destaque);
    font-size: 3em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px black;
}

header > p{
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    color: white;
    max-width: 500px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    text-shadow: 2px 2px 0px black;

}

nav{
    background-color: var(--cor4);
}

main{
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.548);
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10pgx;
}

main h1{
    color: var(--cor4);
    font-family: var(--fonte-destaque);
}

main h2{
    color: var(--cor4);
    font-family: var(--fonte-destaque);
}

main img{
    width: 100%;
}

main img.pequena{
    width: 50%;
    margin: auto;
    display: block;
}

footer{
    background-color: var(--cor4);
    color: white;
}
