@charset "UTF-8";
body{
    background-color: rgb(190, 250, 190);
    font-family: Arial, Helvetica, sans-serif;
} /* html id = #; class = .*/

h1{
    color: rgb(2, 75, 2);
}

h1#principal{
    text-align: center;
    background-color: rgb(42, 109, 42);
    color: white;
}

h2{
    color: rgb(16, 116, 16);
}

.basico{
    color: rgb(155, 236, 155);
    font-weight: bold;
}

.intermediario{
    color: rgb(155, 236, 202);
}

.avancado{
    color: rgb(155, 167, 236);
}

.destaque{
    background-color: #e2e25d;
}